<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm"
        (ngSubmit)="login(loginForm.value)"
        autocomplete="off"
        novalidate>
    <div class="form-group">
      <label for="userName">User Name:</label>

      <!--could use: (input)="username=$event.target.value"-->
      <!--[(ngModel)] the banana in the box syntax , 2 way binding
        () parenthesis bind html to component, typically responding to events
        [] bind component to html, typically to display data from component
          ngModel requires us to declare a name attribute in html element
         #loginForm="ngForm" => to get access to the form (from component)
         (ngSubmit)="login(loginForm)" => (ngSubmit) can prevents submission
        of form to server, also notice that it uses #loginForm
      -->
      <em *ngIf="loginForm.controls.userName?.invalid &&
          (loginForm.controls.userName?.touched || mouseOverLogin)">Required</em>
      <input (ngModel)="username" id="userName" name="userName"
             type="text" class="form-control"
             placeholder="User Name..."
             required/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid &&
          (loginForm.controls.password?.touched || mouseOverLogin)">Required</em>
      <input (ngModel)="password" id="password" name="password"
             type="password" class="form-control"
             placeholder="Password..."
             required />
    </div>
    <span (mouseenter)="mouseOverLogin=true" (mouseleave)="mouseOverLogin=false">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </span>
    <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>
